@font-face {
  font-family: 'SharpSans-Book';
  src: url('SharpSans-Book.eot');
  src: url('SharpSans-Book.eot?#iefix') format('embedded-opentype'), url('SharpSans-Book.svg#SharpSans-Book') format('svg'), url('SharpSans-Book.ttf') format('truetype'), url('SharpSans-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Sharp Sans', sans-serif !important;
}
body p {
  font-size: 14px !important;
}
body .page-title {
  font-weight: bold;
}
@media (max-width: 800px) {
  .top-header {
    display: none;
  }
  .breadcrumb {
    justify-content: center;
  }
}
@media only screen and (max-width: 800px) {
  .carousel-item img {
    height: 300px !important;
    height: 302px !important;
    object-fit: cover;
  }
}
.top-header {
  background-color: #282c47;
}
.top-header p {
  color: #ffffff;
}
.top-header .icon {
  color: #e4e45c !important;
}
.header .logo {
  height: 80px;
}
.header .nav-item {
  padding-left: 25px;
}
.header .nav-item a {
  font-size: 15px;
  font-weight: bold;
}
.header .nav-item a:hover {
  border-bottom: 3px solid #e20e0d;
  text-decoration: none;
}
.header .navbar-nav {
  padding-left: 146px;
}
.header .dropdown-menu {
  min-width: 100%;
  /* Set width of the dropdown */
  border: none !important;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}
.header ul li:hover ul.dropdown-menu {
  display: block;
  /* Display the dropdown */
}
.header ul li ul.dropdown-menu li a {
  display: block;
}
.header .dropdown-item {
  text-align: center;
  background-color: transparent !important;
}
.about-section {
  padding: 85px 0px;
  background-color: #efefef;
}
.about-section h2,
.about-section p,
.about-section a {
  margin: 40px;
}
.about-section h2 {
  font-weight: bold;
  color: #282c47;
}
.about-section a {
  margin-bottom: 80px;
  color: #e20e0d;
  text-transform: uppercase;
  font-weight: bold;
}
.about-section .image {
  background-image: url(../images/about_front.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.program-areas {
  background-color: #ffffff;
  padding: 85px 0px;
}
.program-areas h6,
.program-areas h2 {
  text-align: center;
}
.program-areas h6 {
  color: #e20e0d;
  text-transform: uppercase;
}
.program-areas h2 {
  color: #282c47;
  font-weight: bold;
  padding-bottom: 5rem;
}
.program-areas img {
  border-radius: 40px;
  background-color: #282c47;
  position: relative;
  top: -65px;
}
.program-areas .card {
  border: none !important;
  background-color: #efefef;
}
.program-areas .card .card-title {
  font-weight: bold;
}
.help-section {
  background-color: #282c47;
}
.help-section h2 {
  font-weight: bold;
}
.help-section a {
  border-radius: 20px;
  background-color: #e4e45c;
  color: #282c47;
}
.help-section a:hover {
  background-color: #f2f2b4;
}
.help-section .vertical-line {
  border-right: 4px solid #e4e45c;
  background-color: #282c47;
}
.help-section .img {
  background: url(../images/help_bg.png) no-repeat;
  background-size: cover;
  position: relative;
  border-left: 4px solid #e4e45c;
  background-color: #282c47;
}
.events {
  padding: 85px 0px;
}
.events .title h6 {
  text-transform: uppercase;
  color: #e20e0d;
}
.events .title h2,
.events .title h4,
.events .title h5 {
  font-weight: bold;
}
.events .date h1 {
  color: #b8b8b8;
  font-weight: bold;
  font-size: 80px;
}
.events .date h5 {
  font-size: 15px;
}
.events img {
  border: none !important;
}
.events .event-details h3 {
  font-weight: bold;
}
.events a {
  background-color: #e20e0d;
  color: #ffffff;
  text-transform: uppercase;
}
.events hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
.events img {
  border-radius: 0px solid #ffffff !important;
}
.updates {
  padding: 85px 0px;
  background-color: #efefef;
}
.updates .title h6 {
  text-transform: uppercase;
  color: #e20e0d;
}
.updates .title h2 {
  font-weight: bold;
}
.updates a {
  color: #e20e0d;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.updates a:hover {
  color: #282c47;
}
.updates button {
  border-radius: 20px;
}
.footer {
  font-size: inherit;
  padding: 45px 0px;
  background-color: #282c47;
}
.footer h5 {
  font-weight: bold;
}
.footer ul li {
  list-style: none;
  padding: 4px;
  margin-left: -35px;
}
.footer ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
}
.footer ul li a:hover {
  color: #e20e0d;
}
.copyright {
  background-color: #4e5069;
}
.copyright a {
  color: #e4e45c;
  text-decoration: none;
}
.copyright a:hover {
  color: #e20e0d;
}
.copyright .icon {
  color: #e4e45c;
}
.banner {
  background-image: url('../images/title-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 85px 0px;
}
.banner .breadcrumb li a {
  color: #ffffff;
  text-decoration: none;
}
.banner .breadcrumb-item.active {
  color: #e4e45c !important;
}
.about h2,
.membership h2,
.contact h2,
.single-article h2,
.about h6,
.membership h6,
.contact h6,
.single-article h6 {
  font-weight: bold;
  color: #282c47;
}
.members {
  background-color: #efefef;
}
.about .btn {
  color: #e20e0d;
  border-color: #e20e0d;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.about .btn:hover {
  color: #f3302f;
}
.what-we-do {
  background-color: #efefef;
}
.what-we-do .nav-tabs {
  border-bottom: 5px solid #dee2e6;
  display: inline;
}
.what-we-do .nav-link {
  color: #000;
  font-weight: bold;
}
.what-we-do .nav-link:hover {
  background-color: #e20e0d;
  color: #ffffff;
}
.what-we-do .nav-link.active {
  background-color: #e20e0d;
}
.what-we-do .nav-tabs .nav-item.show .nav-link,
.what-we-do .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #e20e0d;
}
.event-banner {
  background-image: url(../images/20-conference.jpg), linear-gradient(rgba(0, 0, 0.5), rgba(0, 0, 0, 0.6));
  background-size: cover;
  object-fit: cover;
  background-repeat: no repeat;
  padding: 85px 0px;
  background-blend-mode: overlay;
}
.event-banner h5,
.event-banner h3,
.event-banner h2,
.event-banner p {
  font-weight: bold;
}
.event-banner .breadcrumb li a {
  color: #ffffff;
  text-decoration: none;
}
.event-banner .breadcrumb-item.active {
  color: #e4e45c !important;
}
.event-pictures {
  background-color: #282c47;
}
.event-pictures h2 {
  font-weight: bold;
}
.event-pictures img {
  transition: transform 0.3s;
}
.event-pictures img:hover {
  transform: scale(1.5);
  opacity: 1;
}
.event-documents h2,
.publications h2 {
  font-weight: bold;
}
.event-documents h6,
.publications h6 {
  font-weight: bold;
}
.event-documents .card,
.publications .card {
  border: none !important;
  background-color: #efefef;
  height: 100%;
}
.event-documents a,
.publications a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-size: 11px;
}
.contact input,
.contact optgroup,
.contact select,
.contact textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none !important;
  border-radius: 0%;
  border-bottom: 1px solid grey !important;
}
.contact label,
.contact .btn {
  text-transform: uppercase;
}
.contact .btn {
  background-color: #282c47;
  color: #ffffff;
  border-radius: 0%;
}
.contact .btn:hover {
  background-color: #3a4068;
  color: #ffffff;
}
.contact .address {
  background-color: #efefef;
}
.publications input,
.publications select,
.publications .btn {
  font-size: inherit;
}
.publications .btn {
  background-color: #282c47;
  color: #ffffff;
  border-radius: 0%;
}
.publications .btn:hover {
  background-color: #3a4068;
  color: #ffffff;
}
.publications label {
  font-weight: bold;
  color: #282c47;
}
.publications .card {
  background-color: #efefef;
}
.single-article .item {
  background-color: #ffffff;
  width: 70%;
  position: relative;
  top: -175px;
  left: 15%;
}
.single-article .breadcrumb li a {
  color: #282c47;
  text-decoration: none;
}
