@primary-color: #282c47;
@secondary-color: #e4e45c;
@tertiary-color: #e20e0d;
@white-color: #ffffff;
@grey-color:#efefef;

@font-face {
    font-family: 'SharpSans-Book';
    src: url('SharpSans-Book.eot');
    src: url('SharpSans-Book.eot?#iefix') format('embedded-opentype'),
         url('SharpSans-Book.svg#SharpSans-Book') format('svg'),
         url('SharpSans-Book.ttf') format('truetype'),
         url('SharpSans-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
body{
    font-family: 'Sharp Sans', sans-serif !important;
    p{
        font-size: 14px !important;
    }
    .page-title{
        font-weight: bold;
    }
}


@media (max-width:800px) {                  
    .top-header {
       display: none;
    }
    .breadcrumb{
        justify-content: center;
    }
    
 }
 @media only screen and (max-width : 800px) { 
    .carousel-item img{ 
        height: 300px !important; 
        height: 302px !important;
        object-fit: cover;
    } 
}

.top-header{
    background-color: @primary-color;
    p{
        color: @white-color;
    }
    .icon{
        color: @secondary-color !important;
    }
}

.header{
    .logo{
        height: 80px;
    }
    .nav-item {
        padding-left: 25px;
    }
    .nav-item a{
        font-size: 15px;
        font-weight: bold;
       
    }
    .nav-item a:hover{
        border-bottom: 3px solid @tertiary-color;
        text-decoration: none;
    }
    .navbar-nav{
        padding-left: 146px;
    }
    .dropdown-menu{
        min-width: 100%; /* Set width of the dropdown */
        border: none !important;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown-menu{
        display: block;	/* Display the dropdown */
    }
    ul li ul.dropdown-menu li a{
        display: block;
    }
    .dropdown-item{
        text-align: center;
        background-color: transparent !important;
    }
}
.about-section{
    padding: 85px 0px;
    background-color: @grey-color; 
    h2, p, a{
        margin: 40px;
    }
    h2{
        font-weight: bold;
        color: @primary-color;
    }
    a{
        margin-bottom: 80px;
        // border-radius: 20px;
        color: @tertiary-color;
        text-transform: uppercase;
        font-weight: bold;
        // width: 25%;    
    }
    .image{
        background-image: url(../images/about_front.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
   
}
.program-areas{
    background-color: @white-color;
    padding: 85px 0px;
    h6, h2{
        text-align: center;
    }
    h6{
        color: @tertiary-color;
        text-transform: uppercase;
    }
    h2{
        color: @primary-color;
        font-weight: bold;
        padding-bottom: 5rem;
    }
    img{
        border-radius: 40px;
        background-color: @primary-color;
        position: relative;
        top: -65px;
    }
    .card{
        border: none !important;
        background-color: @grey-color;
        .card-title{
            font-weight: bold;
            // font-size: 17px;
        }
       
    }
    
}


.help-section {
    background-color: @primary-color;
    // display: flex;
    // div {
    //     padding: 25px 0px;
    //     width: 50%;
    //     text-align: left;
    // }
    
    h2{
        font-weight: bold;
        // padding-top: 1rem;
    }
    a{
        // margin-left: 1rem;
        border-radius: 20px;
        background-color: @secondary-color;
        color: @primary-color;
    }
    a:hover{
        background-color: lighten(@secondary-color, 20%);
    }
    .vertical-line{
        border-right: 4px solid @secondary-color;
        background-color: @primary-color;
    }
    .img{
        background: url(../images/help_bg.png) no-repeat;
        background-size: cover;
        position: relative;
        border-left: 4px solid @secondary-color;
        background-color: @primary-color;
        
    }
    
    
}


.events{
    padding: 85px 0px;
    .title{
        h6{
            text-transform: uppercase;
            color: @tertiary-color;
        }
        h2,h4,h5{
            font-weight: bold;
        }
    }
    .date{
        h1{
            color: #b8b8b8;
            font-weight: bold;
            font-size:80px;
        }
        h5{
            font-size: 15px;
        }
    }
    img{
        border: none !important;
    }
    .event-details{
        h3{
            font-weight: bold;
        }
    }
    a{
        background-color: @tertiary-color;
        color: @white-color;
        text-transform: uppercase;
    }
    hr{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    img{
        border-radius: 0px solid @white-color !important;
    }
    
}

// news and updates section
.updates{
    padding: 85px 0px;
    background-color: @grey-color;
    .title{
        h6{
            text-transform: uppercase;
            color: @tertiary-color;
        }
        h2{
            font-weight: bold;
        }
    }
    a{
        color: @tertiary-color;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
    }
    a:hover{
        color: @primary-color;
    }
    button{
        border-radius: 20px;
    }
}

.footer{
    font-size: inherit;
    padding: 45px 0px;
    background-color: @primary-color;
    h5{
        font-weight: bold;
    }
    ul li{
        list-style: none;
        padding: 4px;
        margin-left: -35px;
        
    }
    ul li a{
        text-decoration: none;
        color: @white-color;
        font-size: 13px;
     
    }
    ul li a:hover{
        color: @tertiary-color;
    }
}
.copyright{
    background-color: #4e5069;
    a{
        color: @secondary-color;
        text-decoration: none;
    }
    a:hover{
        color: @tertiary-color;
    }
    .icon{
        color: @secondary-color;
        // padding: 2px;
    }
}

// 1. BANNER SECTION FOR ALL PAges
.banner{
    background-image: url('../images/title-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 85px 0px;
    .breadcrumb li a{
        color: @white-color;
        text-decoration: none;
    }
    .breadcrumb-item.active{
        color: @secondary-color !important;
    }
}


// pages
.about, .membership, .contact, .single-article{
    h2, h6{
        font-weight: bold;
        color: @primary-color;
    }
}

.members{
    background-color: @grey-color;
}
.about{
    .btn{
        color: @tertiary-color;
        border-color: @tertiary-color;
        border-radius: 20px;
        font-weight: bold;
        text-transform: uppercase;

    }
    .btn:hover{
        color: lighten(@tertiary-color, 10%);
    }
}



// What we do page
.what-we-do{
    background-color: @grey-color;
    .nav-tabs {
        border-bottom: 5px solid #dee2e6;
        display: inline;
    }
    .nav-link{
        color: #000;
        font-weight: bold;
    }
    .nav-link:hover{
        background-color: @tertiary-color;
        color: @white-color;
    }
    .nav-link.active{
        background-color: @tertiary-color;
 
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #fff;
        background-color: @tertiary-color;
        // border-color: #dee2e6 #dee2e6 #fff;
    }
   
}

// Single conference /event page
.event-banner{
    background-image: url(../images/20-conference.jpg),  linear-gradient(rgba(0,0,0.5),rgba(0,0,0,0.6));
    background-size: cover;
    object-fit: cover;
    background-repeat: no repeat;
    padding: 85px 0px;
    background-blend-mode: overlay;
    h5, h3, h2, p{
        font-weight: bold;
    }
    .breadcrumb li a{
        color: @white-color;
        text-decoration: none;
    }
    .breadcrumb-item.active{
        color: @secondary-color !important;
    }
   
}
.event-pictures{
    background-color: @primary-color;
    h2{
        font-weight: bold;
    }
    img{
        transition: transform .3s;
    }
    img:hover{
        transform: scale(1.5);
        opacity: 1;
    }
}
.event-documents, .publications{
    h2{
        font-weight: bold;
    }
    h6{
        font-weight: bold;
    }
    .card{
        border: none !important;
        background-color: @grey-color;
        height: 100%;
    }
    a{
        text-decoration: none;
        color: #000;
        padding: 10px;
        // padding-left: 30px;
        font-size: 11px;
    }
}

// Contacts
.contact{
   
    input, optgroup, select, textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        border: none !important;
        border-radius: 0%;
        border-bottom: 1px solid grey !important;
        
    }
    label, .btn{
        text-transform: uppercase;
    }
    .btn{
        background-color: @primary-color;
        color: @white-color;
        border-radius: 0%;
    }
    .btn:hover{
        background-color: lighten(@primary-color, 10%);
        color: @white-color;
    }
    .address{
        background-color: @grey-color;
    }
}

// Publications
.publications{
    input, select, .btn{
        font-size: inherit;
    }
    .btn{
        background-color: @primary-color;
        color: @white-color;
        border-radius: 0%;
    }
    .btn:hover{
        background-color: lighten(@primary-color, 10%);
        color: @white-color;
    }
    label{
        font-weight: bold;
        color: @primary-color;
    }
    .card{
        background-color: @grey-color;
    }
}

// Single Article
.single-article{
    .item{
        background-color: @white-color;
        width: 70%;
        position: relative;
        top: -175px;
        left: 15%;
    }
    .breadcrumb li a{
        color: @primary-color;
        text-decoration: none;
    }
    
}
